.main{
    display: flex;
    background-color: #f5f5f5b5;
}
.logo>img{
    height: 70px;
    width: 150px;
}
.span{
    font-weight: bolder;
    padding-top: 10px;
}
.text{
    color: orange;
}
.link{
    margin-left: 100px;
}
.link a{
    text-decoration: none;
    color: black;
    margin-left: 40px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}
.images{
    display: flex;
    width: 100%;
}
.img1{
    display: flex;
    justify-content: center;
}
.img{
    width: 100%;
    height: 100vh;
    display: flex;
}
.heading{
    padding: 50px;
    margin: 0;
    font-family: 'Bebas Neue';
    font-size: 50px;
}
.head{
    color: rgba(255, 140, 0, 0.859);
}
.head2{
    color: rgb(14, 14, 50);
}
.para{
    font-size: medium;
}
.shoping{
border-radius: 5px;
padding: 10px;
color: white;
background-color: darkblue;
}
.div3{
    display: flex;
    width: 100%;
    background-color: #c8cad7;
    justify-content: center;
    gap: 10px;
}
.casual{
    display: flex;
    background-color: #fff;
}
.Num{
    display: flex;
    background-color: #fff;
    border-radius: 7px;
    margin-bottom: 10px;
}
.btn{
    columns: none ;
    background-color: none;
     color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
.paragrafh{
    font-size: 30px;
    color: rgb(202, 81, 37);
    display: flex;
    margin-left: 10px;
}
.divv{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.div1{
    background-color: #fff;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    display: flex;
}
.src{
    width: 60vh;
    height: 80vh;
}
.div2{
    background-color: rgba(237, 236, 236, 0.96);
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin-left: 10px;

}

h2{
    font-size: 50px;
    color: rgb(29, 29, 69);
}
/* .buton{
    color: white;
    background-color: rgb(26, 26, 209);
    border-radius: 5px;
    margin-left: 100px;
 */
h2{
    background-color: #c8cad7;
}
h3{
    color: rgb(184, 55, 55);
    font-size: 30px;
}
.contain{
    width: 100%;
    height: 100vh;
    background-color: #c8cad7;
}
.cer{
    color: #fff;
    width: 100%;
    height: 100vh;
}
.img3{
    width: 60vh;
    height: 80vh;
}


@media screen and (max-width:480px) {
   .main{
    display: flex;
    background-color: #f5f5f5b5;
}
.logo>img{
    height: 50px;
    width: 120px;
}
.span{
    font-weight: bolder;
    padding-top: 10px;
}
.text{
    color: orange;
}
.link{
    display: none;

}
.link a{
    text-decoration: none;
    color: black;
    margin-left: 40px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}
.images{
    display: flex;
    width: 100%;
}
.img1{
    display: flex;
    justify-content: center;
}
.img{
    width: 50%;
    height: 50vh;
    display: flex;
}
.heading{
    padding: 50px;
    margin: 0;
    font-family: 'Bebas Neue';
    font-size: 20px;
}
.head{
    color: rgba(255, 140, 0, 0.859);
}
.head2{
    color: rgb(14, 14, 50);
}
.para{
    font-size: medium;
}
.shoping{
border-radius: 5px;
padding: 10px;
color: white;
background-color: darkblue;
}
.div3{
    display: flex;
    width: 100%;
    background-color: #c8cad7;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    
}
.casual{
    display: flex;
    background-color: #fff;
}
.Num{
    display: flex;
    background-color: #fff;
    border-radius: 7px;
    margin-bottom: 10px;
}
.btn{
    columns: none ;
    background-color: none;
     color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
.paragrafh{
    font-size: 30px;
    color: rgb(202, 81, 37);
    display: flex;
    margin-left: 10px;
}
.divv{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.div1{
    background-color: #fff;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    display: flex;
}
.src{
    width: 60vh;
    height: 80vh;
}
.div2{
    background-color: rgba(237, 236, 236, 0.96);
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin-left: 10px;

}

h2{
    font-size: 50px;
    color: rgb(29, 29, 69);
}
h2{
    background-color: #c8cad7;
}
h3{
    color: rgb(184, 55, 55);
    font-size: 30px;
}
.contain{
    width: 100%;
    height: 100vh;
    background-color: #c8cad7;
}
.cer{
    color: #fff;
    width: 100%;
    height: 100vh;
}
.img3{
    width: 60vh;
    height: 80vh;
}
}